<div class="col-md-6 offset-md-3">
    <br>

<h3>Create User Form</h3>

<form (ngSubmit) = "onSubmit()">
        <div class="form-group">
        <label>Intensity:</label>
        <input type="text" class="form-control" id="intensity" 
        [(ngModel)] = "user.intensity" name="intensity">
        </div>
        <div class="form-group">
            <label>Likelihood:</label>
            <input type="text" class="form-control" id="likelihood" 
            [(ngModel)] = "user.likelihood" name="likelihood">
            </div>
            <div class="form-group">
                <label>Relevance</label>
                <input type="text" class="form-control" id="relevance" 
                [(ngModel)] = "user.relevance" name="relevance">
                </div>
                <div class="form-group">
                    <label>Year:</label>
                    <input type="text" class="form-control" id="year" 
                    [(ngModel)] = "user.year" name="year">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" id="country" 
                        [(ngModel)] = "user.country" name="country">
                        </div>
                        <div class="form-group">
                            <label>Topic:</label>
                            <input type="text" class="form-control" id="topic" 
                            [(ngModel)] = "user.topic" name="topic">
                            </div>
                            <div class="form-group">
                                <label>Region:</label>
                                <input type="text" class="form-control" id="region" 
                                [(ngModel)] = "user.region" name="region">
                                </div>
                                <div class="form-group">
                                    <label>City:</label>
                                    <input type="text" class="form-control" id="city" 
                                    [(ngModel)] = "user.city" name="city">
                                    </div>
                                    <div class="form-group">
                                        <label>End_Year:</label>
                                        <input type="text" class="form-control" id="end_year" 
                                        [(ngModel)] = "user.end_year" name="end_year">
                                        </div>
                                        <div class="form-group">
                                            <label>CityLang:</label>
                                            <input type="text" class="form-control" id="citylng" 
                                            [(ngModel)] = "user.citylng" name="citylng">
                                            </div>
                                            <div class="form-group">
                                                <label>Sector:</label>
                                                <input type="text" class="form-control" id="sector" 
                                                [(ngModel)] = "user.sector" name="sector">
                                                </div>
                                                <div class="form-group">
                                                    <label>Insight</label>
                                                    <input type="text" class="form-control" id="insight" 
                                                    [(ngModel)] = "user.insight" name="insight">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Swot:</label>
                                                        <input type="text" class="form-control" id="swot" 
                                                        [(ngModel)] = "user.swot" name="swot">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Url:</label>
                                                            <input type="text" class="form-control" id="url" 
                                                            [(ngModel)] = "user.url" name="url">
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Star_Year</label>
                                                                <input type="text" class="form-control" id="star_year" 
                                                                [(ngModel)] = "user.star_year" name="star_year">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Impact</label>
                                                                    <input type="text" class="form-control" id="impact" 
                                                                    [(ngModel)] = "user.impact" name="impact">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Added:</label>
                                                                        <input type="text" class="form-control" id="added" 
                                                                        [(ngModel)] = "user.added" name="added">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label>Published:</label>
                                                                            <input type="text" class="form-control" id="published" 
                                                                            [(ngModel)] = "user.published" name="published">
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label>Pestle:</label>
                                                                                <input type="text" class="form-control" id="pestle" 
                                                                                [(ngModel)] = "user.pestle" name="pestle">
                                                                                </div>

                                                                                <div class="form-group">
                                                                                    <label>Source:</label>
                                                                                    <input type="text" class="form-control" id="source" 
                                                                                    [(ngModel)] = "user.source" name="source">
                                                                                    </div>
        


 
        <br>
        <button class="btn btn-success" type="submit">Submit</button> 
</form>
</div>
